
        <footer>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>© 2017 All right reserved </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
